.message-area::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
}

.message-area::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #585963af;
}

.message-area::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}