{% extends 'home/base.html' %}
{% load static %}

{% block title %}carousel{% endblock %}

{% block content %}
	<div class="card">
		<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				{% for i in object_list %}
				<div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}" data-bs-interval="100000000000">
					<a href="{{ i.get_absolute_url }}"><img src="{{ i.img.url }}" class="d-block w-100" alt="{{ i.alt.url }}" style="height: 600px !important;"></a>
					<div class="carousel-caption d-none d-md-block">
						<h5>{{ i.title }}</h5>
						<p>{{ i.date }}</p>
					</div>
				</div>
				{% endfor %}
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Предыдущий</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Следующий</span>
			</button>
		</div>
	</div>
{% endblock %}
