{% extends 'home/base.html' %}

{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<h1 style="text-align: center;">Delete?</h1>
<div class="col-3" style="margin: auto;">
    <form action="" method="post">
	{% csrf_token %}
    <p>Are you sure you want to delete this image?</p>
		<div class="d-grid gap-2">
			<button class="btn btn-primary" type="submit" value="Confirm">Confirm</button>
			<p><a href="{% url 'foto' picture.pk %}">No!</a></p>
		</div>
    </form>
</div>
{% endblock content %}